@model The_Test.Models.Driver.CreateEditDriverVM

@{
    ViewData["Title"] = "Add Car";
}

<div class="container my-5">
    <h1>Add Car To Driver</h1>

    <h4>Driver: @Model.Name</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddCarSave">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="CarId" class="control-label">Car</label>
                    <select asp-for="CarId" asp-items="@Model.GetCarSelectList" class="form-control"></select>
                    <span asp-validation-for="CarId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Add Car" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
