@{
    ViewData["Title"] = "Home Page";
}

<div class="row first-row mb-3">
    <div class="offset-2 col-md-4 font-weight-bolder">

        <div class="row">
            <h1>Sim Taxi Premium Experience</h1>
        </div>

        <div class="row text-muted">
            <p>We make the taxi ride a premium experience with class</p>
        </div>

        <div class="row">
            <button type="button" class="btn btn-warning text-light">Book Now</button>

        </div>
    </div>

    <div class="col-md-6">
        <img src="~/imgs/banner-taxi.png" />
    </div>


</div>

