/*Themes*/
.TheMainColor {
    background-color: #FEF8F5;
}

.pagepadding {
    padding:50px;
}

.textCenterer {
    text-align: center;
}



a.navbar-brand .logo{
    width:30px;
    height:auto;
}
.theCards {
    text-align: center;
    font-size: 30px;
    border-radius: 10px 10px;
    color: #F9BB00;
    padding:0px 45px 0px 45px;

}
.ptext{
    font-size:10px;
}

.footerstyle{
    border-top:none;
    padding:0 
}

.social-media {
    border-radius: 50px;
    background-color: #F9BB00;
    padding:10px;
    color:#fff;
    font-size:25px;
    margin:0px 5px 0px 5px;
}